<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <!--<link href="styles.css" rel="stylesheet" type="text/css"/>-->
    <title>Directions service</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      /* Optional: Makes the sample page fill the window. */
      #map {
        height: 100%;
      }

      .buttonbase {
        cursor: pointer;
        color: #fff;
        background-color: #686868;
        box-shadow: 0 2px 6px rgba(0,0,0,.3);
        border-radius: 3px;
        margin: 1em;
        padding: 1em;
        font-size: 1.25em;
        line-height: 1em;
        text-align: center;
        font-family: Roboto,Arial,sans-serif
      }
    </style>
  </head>
  <body>
    <div id="map" style="height: 100%"></div>
    <script>

      var destIndex = 0;
      var source_lat;
      var source_lng;

      // we can't have a array of LatLng objects unless it's populated in an async function D:
      // var latlngArray = [];
      var lat = []
      var lng = []
      var names = [];
      var formatted_addresses = [];
      var next_page_token = "";

      // load context
      {% if raw_response %}

        var next_page_token = "{{raw_response.next_page_token}}";
        {% for r in raw_response.results %}
          lat.push({{r.geometry.location.lat}});
          lng.push({{r.geometry.location.lng}});
          names.push("{{ r.name }}");
          formatted_addresses.push("{{r.formatted_address}}")
        {% endfor %}
        source_lat = lat[0];
        source_lng = lng[0];
        lat.shift();
        lng.shift();
        names.shift();
      {% else %}

      {% endif %}
      //console.log(raw_response.next_page_token);
      function GoBack(controlDiv, map) {
        var controlUI = document.createElement('div');
        controlUI.className = "buttonbase";
        controlUI.title = 'Go Back';
        controlUI.innerHTML = 'Go Back';
        controlDiv.appendChild(controlUI);

        controlUI.addEventListener('click', function() {
          var pathArray = location.href.split( '/' );
          var protocol = pathArray[0];
          var host = pathArray[2];
          var url = protocol + '//' + host
          location.href = url;
        });
      }

      function Recommendation(controlDiv, map) {
        var controlUI = document.createElement('div');
        controlUI.className = "buttonbase";
        controlUI.title = 'Accept the recommendation. You can choose to send a link via text or email.';
        controlUI.id = 'Recommendation'
        var header = document.createElement('p');
        header.innerHTML = "How about: ";
        var locationTitle = document.createElement('p');
        locationTitle.innerHTML = names[destIndex];
        var address = document.createElement('p');
        //address.innerHTML = "Address Information";
        address.innerHTML = formatted_addresses[destIndex];
        var hours = document.createElement('p');
        hours.innerHTML = "Open: 1pm - 2pm";

        var share = document.createElement('button');
        share.innerHTML = 'Share with Friends';
        var br = document.createElement("br");
        controlUI.appendChild(header);
        controlUI.appendChild(locationTitle);
        controlUI.appendChild(address);
        controlUI.appendChild(hours);
        controlUI.appendChild(br);
        controlUI.appendChild(share);
        controlDiv.appendChild(controlUI);

        controlUI.addEventListener('click', function() {
          //go to next destination in array
          //map.setCenter(chicago);
        });
      }

      function NextPlace(controlDiv, map) {
        var controlUI = document.createElement('div');
        controlUI.className = "buttonbase";
        //controlUI.title = '';
        controlUI.innerHTML = 'Try Somewhere Else';
        controlDiv.appendChild(controlUI);

        // Setup the click event listeners: simply set the map to Chicago.
        controlUI.addEventListener('click', function() {
          //go to next destination in array
          showNext();
        });
      }

      function showNext(){
        destIndex = (destIndex + 1) % lat.length;
        initMap();
        //TODO|
      }

      function initMap() {

        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 7,
          center: {lat: 41.85, lng: -87.65}
        });
        directionsDisplay.setMap(map);

        var nextPlaceDiv = document.createElement('div');
        NextPlace(nextPlaceDiv, map);
        nextPlaceDiv.index = 1;
        map.controls[google.maps.ControlPosition.BOTTOM_RIGHT].push(nextPlaceDiv);

        var recommendationDiv = document.createElement('div');
        Recommendation(recommendationDiv, map);
        recommendationDiv.index = 1;
        map.controls[google.maps.ControlPosition.BOTTOM_LEFT].push(recommendationDiv);

        var goBackDiv = document.createElement('div');
        GoBack(goBackDiv, map);
        goBackDiv.index = 1;
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(goBackDiv);

        calculateAndDisplayRoute(directionsService, directionsDisplay);
      }

      function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        directionsService.route({
          origin: new google.maps.LatLng(source_lat, source_lng),
          destination: new google.maps.LatLng(lat[destIndex], lng[destIndex]),
          travelMode: 'DRIVING'
        }, function(response, status) {
          if (status === 'OK') {
            directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyDK9r0KXoy40PuvFGW3-7bUD33Rfv-fQ&callback=initMap">
    </script>
  </body>
</html>
