<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>splash</title>
    <style>
    * {
      text-align: center;
      color: #4A4A4A;
      font-family: Roboto,Arial,sans-serif;
      font-size: 20px;
    }
    #splashTitle {
        display: inline-block;
        font-size: 64px;
        margin-top: 147px;
    }
    #locationsearch {
          width: 341px;
          font-size: 18px;
         height: 32px;
    }
    .filterOpt {
        width: 136px;
        margin-left: 18px;
        font-size: 16px
    }
    #distTitle {
        padding-left: 76px;
    }
    #openTitle {
        padding-left: 150px;
    }
    #locationTitle {
        font-size: 36px;
        padding: 10px;
    }
    .dropdown {
        padding-right: 100px;
    }

    </style>
  </head>
  <body>
    <img id="icon" src="images/icon_small.png">
  <h1 id = "splashTitle">PlaceFindr</h1>

  <form>

    <span id = "locationTitle">Please enter your location:</span>

    <div id="locationField">
      <input id="autocomplete" placeholder="Your Location"
        onFocus="geolocate()" type="text"></input>
      <!--
      <input id="locationInput" type="text" placeholder="Ex: 330 De Neve Dr, Los Angeles, CA">
      -->
    </div>

    <br></br>

    <div class = "dropdown">
      <span id = "enttTitle">Type of Entertainment:</span>
        <select id="entertainment" class="filterOpt">
          <option value="all">All</option>
          <option value="group">For groups</option>
          <option value="date">For a date</option>
          <option value="single">For yourself</option>
        </select>
      <br></br>
    </div>

      <span id = "distTitle">Max Distance:</span>
      <select id="distanceSelect" class="filterOpt">
        <option value="none">None</option>
        <option value="50">Within 50 miles</option>
        <option value="10">Within 10 miles</option>
      </select>
      <br></br>

    </div>
    <input value="Search" type="button" onclick="constructUrl()">

  </form>
<script>
    /* function OnLoad() {

    } */

    var autocomplete, service;
    var lat, lng = 0;


    function init() {
      // create places service object to get lat lng of provided location
      let map = new google.maps.Map(document.createElement('div'));
      service = new google.maps.places.PlacesService(map);

      // Create the autocomplete object, restricting the search to
      // location types with an address
      autocomplete = new google.maps.places.Autocomplete(
          (document.getElementById('autocomplete')),
          //{types: ['address']}
        );

      autocomplete.addListener('place_changed', getLatLng);
    }

    function getLatLng(){
      var place = autocomplete.getPlace();
      lat = place.geometry.location.lat();
      lng = place.geometry.location.lng();
    }

    function encodeQueryData(data) {
      let ret = [];
      for (let d in data)
        ret.push(encodeURIComponent(d) + '=' + encodeURIComponent(data[d]));
      return ret.join('&');
    }

    function isChecked(id){
      if(document.getElementById(id).checked == true){
        return true;
      }
      else{
        return false;
      }
    }

    function allTypeString(){
      var string = "&types=bar,amusement_park,shopping_mall,park,movie_theater,bowling_alley,casino,campground,clothing_store,cafe,department_store,";
      string += "movie_theater,movie_rental,park,restaurant,shopping_mall,zoo,library,night_club";
      return string;
    }

    function groupTypeString(){
      var string = "&types=bar,amusement_park,shopping_mall,park,movie_theater,bowling_alley,casino,campground,clothing_store,department_store,";
      string += "movie_theater,movie_rental,park,restaurant,shopping_mall,zoo";
      return string;
    }

    function dateTypeString(){
      var string = "&types=amusement_park,bowling_alley,cafe,campground,movie_theater,night_club,park,restaurant,shopping_mall,zoo";
      return string;
    }

    function singleTypeString(){
      var string = "&types=amusement_park,cafe,campground,casino,clothing_store,department_store,library,movie_theater,movie_rental,night_club,park,restaurant,shopping_mall,zoo";
      return string;
    }

    function getTypesString(choice){
      if(choice == "single"){
        return singleTypeString();
      }
      else if(choice == "group"){
        return groupTypeString();
      }
      else if(choice == "date"){
        return dateTypeString();
      }
      else{
        return allTypeString();
      }
    }

    function constructUrl(){
      var pathArray = location.href.split( '/' );
      var protocol = pathArray[0];
      var host = pathArray[2];
      var url = protocol + '//' + host + "/";
      url += "api/suggest/";

     if(document.getElementById("autocomplete").value!= "" && lat != 0 && lng != 0){
       url += "?location=";
       url += document.getElementById("autocomplete").value;
       if(document.getElementById("distanceSelect").value != "none"){
            url += "&radius=";
            url += document.getElementById("distanceSelect").value;
            url +="&open=true"
       } else {
        url +="&radius=10";
        url += "&open=true";
       }
       var entertainment = document.getElementById("entertainment");
       var entertainmentchoice = entertainment.options[entertainment.selectedIndex].value;
       url += getTypesString(entertainmentchoice);
       location.href = encodeURI(url);
     }
     else{
       alert("Please enter a proper location!")
     }
    }

    function geolocate() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var geolocation = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };
          var circle = new google.maps.Circle({
            center: geolocation,
            radius: position.coords.accuracy
          });
          autocomplete.setBounds(circle.getBounds());
        });
      }
    }
    // console.log(window.location.href);
  </script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyDK9r0KXoy40PuvFGW3-7bUD33Rfv-fQ&libraries=places&callback=init">
  </script>
  </body>
</html>
