<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Placefindr</title>
    <!-- <style>
      html {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style> -->
    <link rel="stylesheet" type="text/css" href="../../../static/styles.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
  </head>
  <body>
    <p id="title">
      <img id="icon" src="../../../static/images/icon.png"/>
      PlaceFindr
    </p>

    <form class="mainPanel">
      <div style="width: 100%" class="Med"><fieldset style="width: 500px">
        <div class="singleElemLine">
          <span class="paramLabel">Please enter your location: </span>
        </div>
        <div class="singleElemLine">
          <input id="locationInput" class="paramInput" type="text" placeholder="address or ZIP code" required/>
        </div>
      </fieldset></div>
      <div style="width: 100%" class="Small"><fieldset style="width: 500px">  
        <div class="twoElemLine">
          <label class="paramLabel">What kind of place?</label>
          <select id="entertainment" class="paramInput Small">
            <!--TODO-->
            <option value="all">All</option>
            <option value="group">For groups</option>
            <option value="date">For a date</option>
            <option value="single">For yourself</option>
          </select>
        </div>
        <div class="twoElemLine">
          <label class="paramLabel">Max Distance (in meters):</label>
          <input id="distanceSelect" class="paramInput Small" 
          type="number" step="10" min="0" max="50000"/>
          <!-- TODO| max distance supported by Google Places is 50 km. Let's worry about converting to miles later. -->
          <br/>
        </div>
        <div class="twoElemLine">
          <label class="paramLabel">When:</label>
          <select id="hoursSelect" class="paramInput Small">
            <option value="now">Open now</option>
            <option value="any">Don't care</option>
          </select>
          <br/>
        </div>
          <!--TODO| need to be able to choose hours-->
      </fieldset></div>
      <input value="Go!" type="button" class="Med" onclick="loadResults_SplashPage()">
    </form>

    <script src="../../../static/client.js"></script>
  </body>
</html>
