
.buttonbase {
  cursor: pointer;
  color: #fff;
  background-color: #686868;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  border-radius: 3px;
  margin: 1em;
  padding: 1em;
  font-size: 1.25em;
  line-height: 1em;
  text-align: center;
  font-family: Roboto,Arial,sans-serif
}

