* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #4A4A4A;
  font-size: 12px;
  line-height: 1em;
}


/* containers (generic) */

.mainPanel {
  text-align: center;
  margin: 0.5em auto;
  width: 100%;
}

.header {
  position:fixed;
  left:0px;
  top:0px;
}

.footer {
  position:fixed;
  left:0px;
  bottom:0px;
}

div.Row {
  width: 100%;
  margin: 0;
  padding: 0.1em;
  display: block;
  white-space: nowrap;
  text-align: center;
}

div.Row>div.Half {
  width: 50%;
  margin: 0;
  padding: 0.1em;
  display: inline-block;
  white-space: nowrap;
  text-align: left;
}

div.Row>div.Quarter {
  width: 25%;
  margin: 0;
  padding: 0.1em;
  display: inline-block;
  white-space: nowrap;
  text-align: left;
}

div.Row>div.ThreeQuarters {
  width: 75%;
  margin: 0;
  padding: 0.1em;
  display: inline-block;
  white-space: nowrap;
  text-align: left;
}


/* text size classes (absolute) */
/* Whenever possible, apply to the div element that directly or indirectly contains the text */

.Large {
  font-size: 25px;
}
.Med {
  font-size: 20px;
}
.Small {
  font-size: 16px;
}


/* styled boxes */

.light {
  color: #000000;
  background-color: #ffffff;
}

.lightgrey {
  color: #000000;
  background-color: #dddddd;
}

.darkgrey {
  color: #ffffff;
  background-color: #686868;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
}

.square {
  border-radius: 0px;
  border-width: 0;
  margin: 0;
  padding: 0.8em;
  text-align: center;
}

.round {
  border-radius: 3px;
  border-width: 0;
  margin: 0;
  padding: 0.8em;
  text-align: center;
}


/* content and controls */

#title {
  font-size: 60px;
  margin: 20px auto;
  text-align: center;
  padding-top: 100px;
}

p>img {
  vertical-align: middle;
}

fieldset {
  border: none;
  margin: 20px auto;
  width: 50em;
}

.paramInput {
  /* Needed because unlike other controls, the default for input elements is not to inherit, and we wish to override that. */
  font-family: inherit;
  font-size: inherit;
}

.Row .paramLabel, .Row .paramInput {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0.2em;
  display: inline-block;
}

.Row .paramInput.button {
  display: table-cell;
  width: 100%;
  padding: 0.3em;
}


/*//TODO|*/

@media screen and (min-width: 700px) {
  #sidebar {
    float: left;
    width: 30%;
    margin: 0;
  }

  #contentbody {
    float: right;
    width: 70%;
    margin: 0;
  }
}

@media screen and (max-width: 699px) and (min-width: 520px) {
  #sidebar,
  #content {
    float: none;
    display: block;
    margin-bottom: 15px;
  }
}
