<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Directions service</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>

    var source = "winona, az";
    var cities = ["chicago, il", "st louis, mo", "joplin, mo", "san bernardino, ca"];
    var destIndex = 0;

    function GoBack(controlDiv, map) {

       // Set CSS for the control border.
       var controlUI = document.createElement('div');
       controlUI.style.backgroundColor = '#fff';
       controlUI.style.border = '2px solid #fff';
       controlUI.style.borderRadius = '3px';
       controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
       controlUI.style.cursor = 'pointer';
       controlUI.style.marginBottom = '22px';
       controlUI.style.textAlign = 'center';
       controlUI.title = 'Click to recenter the map';
       controlDiv.appendChild(controlUI);

       // Set CSS for the control interior.
       var controlText = document.createElement('div');
       controlText.style.color = 'rgb(25,25,25)';
       controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
       controlText.style.fontSize = '16px';
       controlText.style.lineHeight = '38px';
       controlText.style.paddingLeft = '5px';
       controlText.style.paddingRight = '5px';
       controlText.innerHTML = 'Go Back';
       controlUI.appendChild(controlText);

       // Setup the click event listeners: simply set the map to Chicago.
       controlUI.addEventListener('click', function() {
         //go to next destination in array
         map.setCenter(chicago);
       });

     }

    function Recommendation(controlDiv, map) {

       // Set CSS for the control border.
       var controlUI = document.createElement('div');
       controlUI.style.backgroundColor = '#fff';
       controlUI.style.border = '2px solid #fff';
       controlUI.style.borderRadius = '3px';
       controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
       controlUI.style.cursor = 'pointer';
       controlUI.style.marginBottom = '22px';
       controlUI.style.textAlign = 'center';
       controlUI.title = 'Click to recenter the map';
       controlDiv.appendChild(controlUI);

       // Set CSS for the control interior.
       var controlText = document.createElement('div');
       controlText.style.color = 'rgb(25,25,25)';
       controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
       controlText.style.fontSize = '16px';
       controlText.style.lineHeight = '38px';
       controlText.style.paddingLeft = '5px';
       controlText.style.paddingRight = '5px';
       controlText.innerHTML = 'How About Here?';
       controlUI.appendChild(controlText);

       // Setup the click event listeners: simply set the map to Chicago.
       controlUI.addEventListener('click', function() {
         //go to next destination in array
         map.setCenter(chicago);
       });

     }


     function NextPlace(controlDiv, map) {

        // Set CSS for the control border.
        var controlUI = document.createElement('div');
        controlUI.style.backgroundColor = '#fff';
        controlUI.style.border = '2px solid #fff';
        controlUI.style.borderRadius = '3px';
        controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
        controlUI.style.cursor = 'pointer';
        controlUI.style.marginBottom = '22px';
        controlUI.style.textAlign = 'center';
        controlUI.title = 'Click to recenter the map';
        controlDiv.appendChild(controlUI);

        // Set CSS for the control interior.
        var controlText = document.createElement('div');
        controlText.style.color = 'rgb(25,25,25)';
        controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
        controlText.style.fontSize = '16px';
        controlText.style.lineHeight = '38px';
        controlText.style.paddingLeft = '5px';
        controlText.style.paddingRight = '5px';
        controlText.innerHTML = 'Try Somewhere Else';
        controlUI.appendChild(controlText);

        // Setup the click event listeners: simply set the map to Chicago.
        controlUI.addEventListener('click', function() {
          //go to next destination in array
          updateMap();
        });

      }

      function updateMap(){
        destIndex = (destIndex + 1)% cities.length;
        initMap();
      }

      function initMap() {
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 7,
          center: {lat: 41.85, lng: -87.65}
        });
        directionsDisplay.setMap(map);

        // Create the DIV to hold the control and call the CenterControl()
        // constructor passing in this DIV.
        var nextPlaceDiv = document.createElement('div');
        var nextPlace = new NextPlace(nextPlaceDiv, map);

        nextPlaceDiv.index = 1;
        map.controls[google.maps.ControlPosition.BOTTOM_RIGHT].push(nextPlaceDiv);

        // Create the DIV to hold the control and call the CenterControl()
        // constructor passing in this DIV.
        var recommendationDiv = document.createElement('div');
        var recommendation = new Recommendation(recommendationDiv, map);

        recommendationDiv.index = 1;
        map.controls[google.maps.ControlPosition.BOTTOM_LEFT].push(recommendationDiv);

        // Create the DIV to hold the control and call the CenterControl()
        // constructor passing in this DIV.
        var goBackDiv = document.createElement('div');
        var goBack = new GoBack(goBackDiv, map);

        goBackDiv.index = 1;
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(goBackDiv);

        calculateAndDisplayRoute(directionsService, directionsDisplay);

      }

      function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        directionsService.route({
          origin: source,
          destination: cities[destIndex],
          travelMode: 'DRIVING'
        }, function(response, status) {
          if (status === 'OK') {
            directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyDK9r0KXoy40PuvFGW3-7bUD33Rfv-fQ&callback=initMap">
    </script>
  </body>
</html>
